KEYCLOAK_ISSUER=http://dev.com:8080/realms/master
KEYCLOAK_CLIENT_ID=gis-canvas-bff
KEYCLOAK_CLIENT_SECRET=changeme-from-keycloak-credentials-tab
BFF_REDIRECT_URI=http://localhost:9109/auth/callback
SPA_ORIGIN=http://localhost:5174
POST_LOGOUT_REDIRECT=http://localhost:5174/
SESSION_SECRET=changeme-generate-with-secrets-token_hex-32
DATA_AGENT_URL=http://localhost:2024
GIS_BFF_PROXY_SECRET=changeme-shared-with-gateway
